<%- include('partials/header'); -%>

<body>

    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->

    <!-- About Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">

            <div class="row g-5">
              <div class="section-title  pb-3 mb-5">
                  <h1 class="mb-0">Ihre Power-Lösung</h1>
              </div>
                <div class="col-lg-6 para ">

                    <p>
                      Machen sie schon ihren Strom selbst? Nutzen Sie schon alle Energien? Sind sie schon Autark/ Unabhaängigkeit ?
                      Machen sie ihren Strom selbst!“ – mit ihrer eigenen PV-Anlage oder Windanlage auf Ihrem Dach oder Grundstück.
                      Immer mehr Privaten Haushalten und Unternehmen denken über die Nutzung von Natürlichen Weltenergien nach ,aufgrund
                      von stetigen Rechtlichen und globalen Veränderungen. Als Besitzer einer PV-Anlage profitiert man nicht nur von
                      Steuervergünstigungen, niedrigeren Energiekosten und der garantierten Einspeisevergütung. Gleichzeitig erhöht man
                      den Marktwerts seiner Immobilie und kann den kommenden Umweltgesetzen sowie Umweltregulationen gelassen entgegenblicken.

                      Die Vorteile einer eigenen Solaranlage.Kostenvorteile,Reduzierung der Stromkosten, Unabhängigkeit von Strompreisen
                      Zusätzliche Einnahmequelle: Überschüssiger Strom bietet die Möglichkeit einer Vergütung bei Einspeisung ins Netz Steigerung des Immobilienwerts
                       Umweltvorteile Nutzung natürlicher Weltenergien
                       <br>
                       <ul>
                         <li>Sonne (PV-Anlage)</li>
                         <li>Wind (Windkraftanlage)</li>
                         <li>Luft/Erde (Wärmepumpe)</li>
                       </ul>
                       Sichtbares Zeichen für mehr Nachhaltigkeit Vorteile Ihrer Nachhaltigkeitsagenda jeder Haushalt ist ein Unternehmen
                       Höheres ESG-Rating. Erhöhung Ihres Markenimages als Privathaushalt und Unterneh4altung von (aktuellen und zukünftigen)
                        CO2-Regularien. Welche Geschäftsfelder sollten sich hier angesprochen Private Haushalte , unternehmen und Kommunen
                        Was passiert, wenn meine Solaranlage überschüssige Energie produziert? Solaranlagen produzieren oft mehr Energie, Unternehmen
                         vor Ort verbrauchen. Wir bieten maßgeschneiderte Direktvermarktungs-und Stromabnahmeverträge an, mit denen überschüssiger Strom
                         ins Netz eingespeist oder an andere Standorte Ihres Unternehmens weitergegeben werden kann. Was passiert,
                   </p>


                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="img/about.jpg" style="object-fit: cover;">
                    </div>
                </div>
            </div>
            <br>
            <div class="para">
              <p>
               wenn mein
                Unternehmen zusätzliche Energie aus dem Netz benötigt?Ihre Energiesicherheit ist unser größtes Anliegen. Deshalb stellt ENVIRIA den gesamten zusätzlich benötigten Strom über das Netz zur Verfügung –und das zu Preisen, die unter denen der
                traditionellen Energieversorger liegen. Wie viel Bürokratie verursacht ein Stromabnahmevertrag? Wir integrieren wir alle PPAs in Ihren ursprünglichen
                Projektvertrag. Auf diese Weise minimieren wir den Papierkram und den Verwaltungsaufwand. In wenigen Klicks zum individuellen Angebot Solarrechner Schlüsselfertige Eigenanlage Füllen Sie in weniger als 3 Minuten unser Angebotsformular aus und erhalten Sie innerhalb von wenigen Tagen ein individuelles Angebot.


              </p>

            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Features Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">

                <h1 class="mb-0">Energieflexibilität</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-6">

                        <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                        <img src="/img/smartHome.jpg" alt="home">
                        </div>

                </div>
                <div class="col-lg-6  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">


                          <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                            <p class="smart">
                              Strom ist der Treibstoff, der jede Volkswirtschaft antreibt. Es ist auch das Blut, das Leben in unsere Häuser bringt.
                              Da Elektrizität eine sehr wichtige Rolle in unserem Leben spielt, sind die Produktion und der Transport von elektrischer
                              Energie teuer und infolgedessen wird die Produktion zu einem Problem, wenn unsere Wirtschaft nicht stark ist. Die gute
                              Nachricht ist, dass uns die Natur eine Option bietet. Nutzen Sie die Sonneneinstrahlung der Sonne und auch den Wind, um Ihr
                              Zuhause mit Strom zu versorgen. Wenn Sie Ihr Zuhause mit den natürlichen Energieressourcen versorgen, ist es großartig zu wissen,
                              wie viel Strom Sie und Ihr Telefon, Tablet usw. verbrauchen. Das bietet Natural Work Company. Kontaktiere uns heute.

                            </p>
                          </div>

                  </div>
                </div>
              </div>
          </div>


    <!-- Features Start -->







<%- include('partials/footer'); -%>
