<%- include('partials/headerForAll'); -%>





            <!-- Service Start -->
            <div class="service text-center">

                <h2> Einige unserer Projekte </h2>
            </div>
            <div class="portfolio">
                <div class="container">
                    <div class="row portfolio-container">
                        <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                          <div class="portfolio-warp">
                          <div class="portfolio-img">
                              <img src="/proImage/1.jpeg" alt="Image">

                          </div>
                          <div class="portfolio-text">
                              <h3>Vorbereitung zum Pflastern</h3>
                              <a class="btn" href="/proImage/1.jpeg" data-lightbox="portfolio">+</a>
                          </div>
                      </div>

                        </div>
                        <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                          <div class="portfolio-warp">
                          <div class="portfolio-img">
                              <img src="/proImage/2.jpeg" alt="Image">

                          </div>
                          <div class="portfolio-text">
                              <h3>Pflastern</h3>
                              <a class="btn" href="/proImage/2.jpeg" data-lightbox="portfolio">+</a>
                          </div>
                      </div>
                        </div>
                        <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                          <div class="portfolio-warp">
                          <div class="portfolio-img">
                              <img src="/proImage/3.jpeg" alt="Image">

                          </div>
                          <div class="portfolio-text">
                              <h3>Pavillon</h3>
                              <a class="btn" href="/proImage/3.jpeg" data-lightbox="portfolio">+</a>
                          </div>
                      </div>
                        </div>



                      <div class="row">
                        <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                          <div class="portfolio-warp">
                          <div class="portfolio-img">
                              <img src="/proImage/4.jpeg" alt="Image">

                          </div>
                          <div class="portfolio-text">
                              <h3>Holztreppe </h3>
                              <a class="btn" href="/proImage/4.jpeg" data-lightbox="portfolio">+</a>
                          </div>
                      </div>

                        </div>
                        <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                          <div class="portfolio-warp">
                          <div class="portfolio-img">
                              <img src="/proImage/5.jpeg" alt="Image">

                          </div>
                          <div class="portfolio-text">
                              <h3>Tinyhausaufbau</h3>
                              <a class="btn" href="/proImage/5.jpeg" data-lightbox="portfolio">+</a>
                          </div>
                      </div>
                        </div>
                        <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                          <div class="portfolio-warp">
                          <div class="portfolio-img">
                              <img src="/proImage/6.jpeg" alt="Image">

                          </div>
                          <div class="portfolio-text">
                              <h3>Tinyhausinnenausbau</h3>
                              <a class="btn" href="/proImage/6.jpeg" data-lightbox="portfolio">+</a>
                          </div>
                      </div>
                        </div>

                    <div class="row">
                      <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="portfolio-warp">
                        <div class="portfolio-img">
                            <img src="/proImage/7.jpeg" alt="Image">

                        </div>
                        <div class="portfolio-text">
                            <h3>Carport</h3>
                            <a class="btn" href="/proImage/7.jpeg" data-lightbox="portfolio">+</a>
                        </div>
                    </div>

                      </div>
                      <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="portfolio-warp">
                        <div class="portfolio-img">
                            <img src="/proImage/8.jpeg" alt="Image">

                        </div>
                        <div class="portfolio-text">
                            <h3>Dachdecken</h3>
                            <a class="btn" href="/proImage/8.jpeg" data-lightbox="portfolio">+</a>
                        </div>
                    </div>
                      </div>
                      <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="portfolio-warp">
                        <div class="portfolio-img">
                            <img src="/proImage/9.jpeg" alt="Image">

                        </div>
                        <div class="portfolio-text">
                            <h3>Gartenarbeiten</h3>
                            <a class="btn" href="/proImage/9.jpeg" data-lightbox="portfolio">+</a>
                        </div>
                    </div>
                      </div>
                  </div>

                </div>
            </div>
          </div>
      </div>
            <!-- Service End -->


<%- include('partials/footer'); -%>
